body
{
	background: url(../img/sdm.gif);
	background-position: -239px -50px;
}

.app-content
{
	background: rgba(0,0,0,0.7);
}

header
{
	/*background-color: #00000095!important;*/
	background-color: rgba(0,0,0,0.5) !important;
}

.app-header__logo
{
	background-color: rgba(0, 125, 113, 0.39);
	box-shadow: 0 0 5px rgba(0, 255, 219, 0.15);	
}

#settings
{
   right: 0px;
   top: 52px;
   cursor: pointer;
}

.right
{
	text-align: right;
}
.ol-control button
{
	background: #007d71!important;
	cursor: pointer;
}

.ol-control button:hover
{
	background : #000!important;
}

blockquote a{
	background: #000;
	padding: 5px;
	color :	white;
	border-radius: 5px;
}

#map{
	height: 100vh;
	padding: 0px; 
}

.selectionOverlay {
    position: absolute;
    top: 50px;
    background: rgba(0, 0, 0, 0.77);
    box-shadow: 0 0 10px #0009;
}

.selectionOverlay div:hover
{
	color: black;
}
.selectionOverlay i
{
	color: #00b7a6;
}
.selectionOverlay div
{
	display: inline-block;
	border-right: 1px solid #696969;
}

.ol-zoom
{
	background: rgba(0, 0, 0, 0.45);
    box-shadow: 3px 6px 10px #0009;
}

.outPort
{
	left:250vh;
}

.hide
{
  display: none;
}

.hideBox
{
	top: 100px;
	color: white;
	z-index: 1;
	border-radius: 13px;
	margin-bottom: 5vh;
	padding: 10px;
	background: rgba(0,0,0,0.85);
	position: absolute;
}

#sdmForm,
#projectsList
{
	display: none;
}

.link
{
	cursor: pointer;
}

.center
{
	text-align: center;
}

.bottomOverlay
{
	position: absolute;
	bottom: 0px;
	z-index: 2;
	background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
	color: white;
}

#legendContent {
    color: #000;
    position: absolute;
    bottom: 22px;
    right: 50px;
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%;
    padding: 5px;
    display: none;
    height: 200px;
    overflow-y: scroll;
}

.legendRow {
    float: left;
    display: inline-block;
    margin-left: 10px;
    width: 45px;
    font-size: 10px;
}

.color_swatch {
    width: 100%;
    display: inline-block;
    height: 20px;
}

.load_map i,
.rerun i
{
	margin-right: 20px;
}

.content_margin
{
	margin-top: 100px;	
}

.ht137
{
	height: 130px;
}

.alert
{
	top: 50px;
}
#loader {
    position: absolute;
    z-index: 100;
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0% 0%;
    width: 100%;
    height: 100%;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 40%;
  left: 48%;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

#layerSetting
{
    right: 0px;
    min-width: 42em;
    width: 42em;
    position: absolute;
    background: rgba(0,0,0,0.8);
}

#layerSetting .card
{
    width: 40em;
}

#layerSetting .card-body
{
    height: 100px;
    overflow-y: scroll;
}

#accordion .card-header,
#accordion .collapse,
#categoriesLayer .card-header,
#categoriesLayer .collapse
{
  padding : 0em;
  color: #000;
}

#categoriesLayer h5
{
    cursor: pointer;
    padding: 5px;
}

.error
{
    color: red;
}

#projectsList
{
  max-height: 30em;
  overflow-y:  scroll;
}
#jGrowl
{
  display: inline-block;
  position: absolute;
  top: 5em;
  max-height: 25em;
  overflow: hidden;
}
.jGrowl-closer
{
  display: none!important;
}

.progress-bar{
  color: black;
  font-weight: 600;
  font-size: 13px;
}

.featureInfoContent
{
  width: 100%;
}

#bioclim
{
  width: 100%;
  height: 10em;
}

::selection {
  background: #009688; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #009688; /* Gecko Browsers */
  color: white;
}

.removeLayer,
li .dismissLayer,
li .viewLayer
{
  float: right;
  padding-right: 2em;
  margin: 7px;
  color: #007d71!important;
  cursor: pointer;
}

.jGrowl .error
{
  background: #66061b;
  color: white;
  border: none;
  width: 10em;
}

.jGrowl .error-fixht
{
  background: #66061b;
  color: white;
  border: none;
  width: 10em;
  height: 92px; 
}

.jGrowl .success
{
  background: #385C35;
  color: white;
  border: none;
  width: 100%;
  opacity: 1;
}

.category
{
   padding: 10px;
   text-align: center;
}
.category:hover
{
  background: #cecece;
  cursor: pointer;
}

.category.active
{
  background: #009688;
  color:white;
}

.subCategroy
{
  max-height: 20em;
  overflow-y: scroll;
  padding: 0px;
  margin-top: 5px;
}

.subList .subcatlist li:hover
{
  background: #cecece;
  cursor: pointer;
}

#myTabContent
{
  padding: 10px;
}

#addMore
{
  cursor: pointer;
}

.ibis_content_margin
{
  margin-top: 50px;
  background: rgba(0,0,0);
  padding: 30px;
}

#ibisSearch
{
  margin-top: 7px;
}

#ui-id-1 {

    max-height: 150px;
    background: #000;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    font-style: oblique;
    font-size: 13px;

}
