{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
	<header class="masthead text-center text-white d-flex">
	  <div class="container my-auto">
	    <div class="row">
	      <div class="col-lg-10 mx-auto">
	        <h1 class="text-uppercase">
	          <strong>Species Distribution Model</strong>
	        </h1>
	        <hr>
	      </div>
	      <div class="col-lg-8 mx-auto">
	        <p class="text-faded mb-5">Get Spices distribution Model of species from your custom datas set or from <a href="http://indianbiodiversity.org/" target="_blank">IBIS</a> database to get the the distribution model.</p>
	        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/home/sdmHome">Find Out More</a>
	      </div>
	    </div>
	  </div>
	</header>
{% endblock %}