<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>SDM - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-responsive.css"> -->
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-grid.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/magnific-popup.css">
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/creative.css">
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/custom.css">
    </head>
    <body id="page-top">
    	<div class="container">
            {% include "menu.html" %}
	        {% block content %}
	        {% endblock %}
        </div>
        <script type="text/javascript" ></script>
	    <script type="text/javascript" src="/vali/js/plugins/chart.js"></script>
        <script src="http://maps.google.com/maps/api/js?v=3&key=AIzaSyB0_rV2K9l3QoLwIJiX448CsXw9W7-vZpU"></script>
        <script type="text/javascript" src="/global/js/ol4.js"></script>
        <script type="text/javascript" src="/global/js/olgm.js"></script>
        <script type="text/javascript" src="/vali/js/map.js"></script>
    </body>
</html>