{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
	<div class="row login">
		<div class="col-sm-6 col-sm-offset-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                  Login
                </h3>
            </div>
            <div class="panel-body">
              <form accept-charset="UTF-8" role="form">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
                      <input class="form-control" placeholder="Email" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
                      <input class="form-control" placeholder="Password" type="password">
                    </div>
                  </div>
                  <div class="checkbox">
                    <label>
                        <input name="remember" value="Remember Me" type="checkbox">
                        Remember Me
                      </label>
                  </div>
                  <input class="btn btn-lg btn-success btn-block" value="Login" type="submit">
                </fieldset>
              </form>
              <p class="m-b-0 m-t">Not signed up? <a href="register.html">Sign up here</a>.</p>
            </div>
          </div>
        </div>
	</div>
{% endblock %}