{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-12 col-lg-12">
			<h6>SDM Map</h6>
			<div id="map" class="mapContainer col-md-12">
			</div>
			<div id="bottomOverlay">
				<div id="latlonInfo"></div>
			</div>
		</div>
	</div>
{% endblock %}