<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>SDM - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/vali/css/main.css">
        <link rel="stylesheet" type="text/css" href="/vali/css/font-awesome.min.css">
    </head>
    <body class="app sidebar-mini">
    	<div class="app-content">
            {% include "menu.html" %}
	        {% block content %}
	        {% endblock %}
        </div>
        <script src="/vali/js/jquery-3.2.1.min.js"></script>
        <script src="/vali/js/popper.min.js"></script>
        <script src="/vali/js/bootstrap.min.js"></script>
        <script src="/vali/js/main.js"></script>
        <!-- The javascript plugin to display page loading on top-->
        <script src="/vali/js/plugins/pace.min.js"></script>
        <!-- Page specific javascripts-->
        <script type="text/javascript" src="/vali/js/plugins/chart.js"></script>
    </body>
</html>