<div class="row">
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">SDM</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/home/sdmHome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/user/login">
            Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger">About SDM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>