{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
{% include "header.html" %}
<div class="row content_margin">
  <div class="col-md-4">
  	<div class="card mb-3 ht137 text-white bg-dark">
	    <div class="card-body">
	      <blockquote class="card-blockquote">
	        <h1>SDM</h1>
	      </blockquote>
	    </div>
    </div>
    <div class="bs-component">
      <div class="card mb-3 ht137 text-white bg-primary">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <h1>IBIS</h1>
          </blockquote>
        </div>
	  </div>
      <div class="card mb-3 ht137 text-white bg-success">
        <div class="card-body">
          <blockquote class="card-blockquote">
          	<h1>FES</h1>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="bs-component">
      <div class="card mb-3 border-primary ht137">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <p>Environmental niche modelling, alternatively known as species distribution modelling, (ecological) niche modelling, predictive habitat distribution modelling, and climate envelope modelling refers to the process of using computer algorithms to predict the distribution of species in geographic space on the basis of a mathematical representation of their known distribution in environmental space (= realized ecological niche).</p>
          </blockquote>
        </div>
      </div>
      <div class="card mb-3 border-info ht137">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <p>Database of birds of Indian subcontinent from different sources like  EOL, GBIF, IBC, IBP, ToL, and  Xeno-Canto.</p>
          </blockquote>
        </div>
      </div>
      <div class="card mb-3 border-success ht137">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <p>Spread across diverse ecological and social geographies, FES works towards conservation of nature and natural resources through collective action of local communities. The crux of FES efforts lie in locating forests and other natural resources within the prevailing economic, social and ecological dynamics in rural landscapes.</p>
            
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}