{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="app-content">
{% include "header.html" %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form method="post">
    <div class="tile">
      <h3 class="tile-title">My Account</h3>
      <div class="tile-body">
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="control-label col-md-3">Name</label>
            <div class="col-md-8">
              <input class="form-control" placeholder="Enter full name" type="text" name="name" value="{{userDetails.name}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-3">Email</label>
            <div class="col-md-8">
              <input class="form-control" placeholder="Enter email address" type="email" name="email" value="{{userDetails.email}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-3">Address</label>
            <div class="col-md-8">
              <textarea class="form-control" rows="4" placeholder="Enter your address" name="address">{{userDetails.address}}</textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-3">Password</label>
            <div class="col-md-8">
              <input class="form-control" placeholder="Enter email address" type="password" name="password">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-3">Mobile number</label>
            <div class="col-md-8">
              <input class="form-control" placeholder="Enter email address" type="text" name="mob_number" value="{{userDetails.mob_number}}">
            </div>
          </div>
        </form>
      </div>
      <div class="tile-footer">
        <div class="row">
          <div class="col-md-8 col-md-offset-3">
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-fw fa-lg fa-check-circle"></i>Update
            </button>
            <button class="btn btn-danger" type="submit">
              <i class="fa fa-fw fa-lg fa-check-circle"></i>Delete My Account
            </button>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
</div>
{% endblock %}