	<div class="modal fade" id="clipExportModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Clip Layer</h4>
          		<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<form id="clipExportForm" class="form-horizontal" enctype="multipart/form-data">
					{% if sdmLayers is not null %}
						<div class="form-group row">
				            <label class="control-label col-4">Job Name</label>
				            <input name="clipJob" class="form-control col-6" type="text">
				        </div>
						<div class="form-group row">
				            <label class="control-label col-4">File to clip with <br/>(.shp only)</label>
				            <input name="clipFile" id='clipFile' class="form-control col-6" type="file">
				        </div>
				        <div class="form-group row"> 
			                <label class="control-label col-4">Select layer to be clipped</label>
				            <select id="sdmLayers" class="form-control col-6" name="sdmLayer">
			                	<option data-attr="-1">Select</option>
			            		{% for layers in sdmLayers %}
			            			<option value="{{ userId ~ ':' ~ layers['project_name'] ~ ':' ~ layers['layer_name'] }}">
			            				{{layers['project_name']}}
			            			</option>
			            		{% endfor %}
			            	</select>
			            </div>
			            <div class="form-group float-right">
			            	<input type="submit" value="Clip & Export" class="btn btn-success">
			            </div>
		            {% else %}
		            	<div class="alert-warning">
		                	<p>
		                		Layers list is empty
		                	</p>
		              	</div>
			        {% endif %}
				</form>
			</div>
			<div class="progress">
	          <div class="progress-bar progress-bar-animated progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
	          </div>
	        </div>
		</div>
	</div>
</div>