{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
	<div class="app-content">
	{% include "header.html" %}
	  	<div class="row text-white">
	      <div class="col-lg-10 mx-auto">
	        <h1 class="text-uppercase">
	        	<strong>Species Distribution Model</strong>
		        <div class="row">
			        <div class="col-md-4 col-sm-4 col-lg-4">
			          <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
			            <div class="info">
			              <h4>Users</h4>
			              <p><b>5</b></p>
			            </div>
			          </div>
			        </div>
			        <div class="col-md-4 col-sm-4 col-lg-4">
			          <div class="widget-small info coloured-icon"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
			            <div class="info">
			              <h4>Likes</h4>
			              <p><b>25</b></p>
			            </div>
			          </div>
			        </div>
			        <div class="col-md-4 col-sm-4 col-lg-4">
			          <div class="widget-small warning coloured-icon"><i class="icon fa fa-files-o fa-3x"></i>
			            <div class="info">
			              <h4>Uploads</h4>
			              <p><b>10</b></p>
			            </div>
			          </div>
			        </div>
			    </div>
	        </h1>
	        <hr>
	      </div>
	      <div class="col-lg-10 mx-auto">
	        <p style="font-size: 2em;">Get Species distribution Model of species from your custom dataset or from <a href="http://indianbiodiversity.org/" target="_blank">IBIS</a> to get the the distribution model.</p>
	        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/home/sdmHome">Find Out More</a>
	      </div>
	    </div>
	</div>
{% endblock %}