<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>SDM - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/vali/css/main.css">
        {# <link rel="stylesheet" type="text/css" href="/vali/css/font-awesome.min.css"> #}
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/vali/css/custom.css">
        <link rel="stylesheet" type="text/css" href="/global/css/ol4.css">
        <link rel="stylesheet" type="text/css" href="/global/css/growl.css">
        <script src="/vali/js/jquery-2.2.4.js"></script>
    </head>
    <body class="app sidebar-mini">
        <div id="loader" data-attr="side">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
        {% if alerts is defined %}
            {% for key,value in alerts %}
              <div class="alert alert-dismissible alert-{{ key }}">
                <button class="close" type="button" data-dismiss="alert">×</button>
                <strong>{{ value }}</strong>
              </div>
            {% endfor %}
        {% endif %}
        {# {% include "sidebar.html" %} #}
        {% block content %}
        {% endblock %}
        <script type="text/javascript" src="/vali/js/plugins/chart.js"></script>
        <script src="/vali/js/plugins/pace.min.js"></script>
        <script src="/vali/js/popper.min.js"></script>
        <script src="/vali/js/bootstrap.min.js"></script>
        <script src="/vali/js/main.js"></script>
        <script src="/global/js/jquery-ui.min.js"></script>
        <script src="/global/js/validate.js"></script>
        <script src="/global/js/growl.js"></script>
        <script src="/vali/js/custom.js"></script>
        <!-- The javascript plugin to display page loading on top-->
        <!-- Page specific javascripts-->
    </body>
</html>
