<ul class="app-nav">
  <!-- User Menu-->
  {% if user is defined %}
  <li class="dropdown">
    <input id="ibisSearch" type="text" placeholder="Search IBIS" class="form-control">
  </li>
  {% endif %}
  <li class="dropdown">
    <a class="app-nav__item" href="/Home/about">
      <i class="fa fa-info fa-lg"></i></a>
  </li>
  <li class="dropdown">
    <a class="app-nav__item" href="/Sdm/dashboard"><i class="fa fa-home fa-lg"></i></a>
  </li>
  {% if user is defined %}
    {% if user.name == 'akash' %}
    <li class="dropdown">
      <a class="app-nav__item" href="/Sdm/ibis"><i class="fa fa-tasks fa-lg"></i></a>
    </li>
    {% endif %}
  {% endif %}
  <li class="dropdown">
    <a class="app-nav__item" href="#" data-toggle="dropdown"><i class="fa fa-user fa-lg"></i></a>
    <ul class="dropdown-menu settings-menu dropdown-menu-right">
      {# <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-cog fa-lg"></i> Settings</a></li> #}
      {# <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-user fa-lg"></i> Profile</a></li> #}
      {% if user is defined %}
        <li>
          <a class="dropdown-item" href="/User/logout">
            <i class="fa fa-sign-in fa-lg"></i> Logout
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="/User/account">
            <i class="fa fa-address-book fa-lg"></i> My Account
          </a>
        </li>
      {% else %}
        <li>
          <a class="dropdown-item" href="/User/login">
            <i class="fa fa-sign-in fa-lg"></i> Login
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="/User/register">
            <i class="fa fa-address-book fa-lg"></i> Register
          </a>
        </li>
      {% endif %}
    </ul>
  </li>
</ul>