{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
{% include "header.html" %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<div class="ibis_content_margin">
  <div class="row">
    <div class="col-md-3">
      <div class="widget-small primary"><i class="icon fa fa-laptop fa-3x"></i>
        <div class="info">
          <h4>Status</h4>
          <p><b>{{sp.project_name}} {{status}}</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="widget-small primary"><i class="icon fa fa-info fa-3x"></i>
        <div class="info">
          <h4>Total Bird species</h4>
          <p><b>{{ totalSpecies }}</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 ">
      <div class="widget-small primary"><i class="icon fa fa-check fa-3x"></i>
        <div class="info">
          <h4>Completed</h4>
          <p><b>{{ completed }}</b></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="table-wrapper-scroll-y">
    <table id='monitorIbis' class="table table-dark">
      <thead>
        <tr>
          <th>Sr no</th>
          <th>Species Name</th>
          <th>Source</th>
          <th>Progress</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for sp in batchDetails %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{sp.project_name}}</td>
          <td>{{sp.source}}</td>
          <td>
            {% if sp.process|number_format == -2 %}
              <div class="dot blueNo"><span><span></span></span></div> Data Not Available
            {% elseif sp.process|number_format == -1 %}
              <div class="dot redNo"><span><span></span></span></div> Error
            {% elseif sp.process|number_format < 40 %}
              <div class="dot orange"><span><span></span></span></div> Clipping
              <div class="dot orangeNo"><span><span></span></span></div> Maxent Run 
              <div class="dot orangeNo"><span><span></span></span></div> Import to database
              <div class="dot orangeNo"><span><span></span></span></div> Host on sdm
            {% elseif sp.process|number_format == 40 %}
              <div class="dot greenNo"><span><span></span></span></div> Clipping done
              <div class="dot orange"><span><span></span></span></div> Maxent running
              <div class="dot orangeNo"><span><span></span></span></div> Import to database
              <div class="dot orangeNo"><span><span></span></span></div> Host on sdm
            {% elseif sp.process|number_format == 70 %}
              <div class="dot greenNo"><span><span></span></span></div> Clipping done
              <div class="dot greenNo"><span><span></span></span></div> Maxent completed
              <div class="dot orange"><span><span></span></span></div> Importing to database
              <div class="dot orangeNo"><span><span></span></span></div> Host on sdm
            {% elseif sp.process|number_format == 90 %}
              <div class="dot greenNo"><span><span></span></span></div> Clipping done
              <div class="dot greenNo"><span><span></span></span></div> Maxent completed
              <div class="dot greenNo"><span><span></span></span></div> Imported to database
              <div class="dot orange"><span><span></span></span></div> Hosting on sdm
            {% elseif sp.process|number_format == 100 %}
              <div class="dot greenNo"><span><span></span></span></div> Available
            {% endif %}
          </td>
          {% if sp.status == 'Running' %}
            <td><span class="badge badge-success">{{sp.status}}</span></td>
          {% elseif sp.status == 'Error !' %}
            <td><span class="badge badge-danger">{{sp.status}}</span></td>
          {% else %}
            <td><span class="badge badge-info">{{sp.status}}</span></td>
          {% endif %}
          <td class='controls'>
            <i class="fa fa-info"/> | <i class="fa fa-trash"/>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>
<style type="text/css">
  .controls i:hover
  {
     cursor: not-allowed;
  }
  @keyframes pulse-2-5 {
    0% {
      opacity: .75;
      transform: scale(0.5);
    }
    25% {
      opacity: 0.75;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(2);
    }
  }
  body {
    background-color: #1d1f20;
  }

  /*.row {
    margin-top: 45vh;
  }*/

  .container {
    display: flex;
    justify-content: space-around;
  }

  h1 {
    color: #fff;
  }

  .dot {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    display: inline-block;
  }
  .dot > span {
    animation: pulse-2-5 1s linear infinite;
    border-radius: 50%;
    display: block;
    height: 12px;
    width: 12px;
  }
  .dot > span > span {
    animation: pulse-2-5 1s linear infinite;
    border-radius: 50%;
    display: block;
    height: 12px;
    width: 12px;
  }
  .dot > span > span:after {
    animation: pulse-2-5 1s linear infinite;
    border-radius: 50%;
    content: '';
    display: block;
    height: 12px;
    width: 12px;
  }
  .dot.blue {
    background-color: #26B3FF;
  }

  .dot.blue span {
    background-color: rgba(85, 216, 232, 0.4);
  }
  .dot.blue span:after {
    background-color: rgba(85, 216, 232, 0.4);
  }
  .dot.green {
    background-color: #35E861;
  }
  .dot.green span {
    background-color: rgba(110, 255, 122, 0.4);
  }
  .dot.green span:after {
    background-color: rgba(110, 255, 122, 0.4);
  }
  .dot.red {
    background-color: #FF4B44;
  }
  .dot.red span {
    background-color: rgba(232, 111, 112, 0.4);
  }
  .dot.red span:after {
    background-color: rgba(232, 111, 112, 0.4);
  }
  .dot.orange {
    background-color: #E87337;
  }
  .dot.orange span {
    background-color: rgba(255, 183, 90, 0.4);
  }
  .dot.orange span:after {
    background-color: rgba(255, 183, 90, 0.4);
  }

  .dot.blueNo {
    background-color: #26B3FF;
  }
  .dot.orangeNo {
    background-color: #E87337;
  }
  .dot.greenNo {
    background-color: #35E861;
  }
  .dot.redNo {
    background-color: #FF4B44;
  }
.table-wrapper-scroll-y {
display: block;
max-height: 325px;
min-height: 225px;
overflow-y: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;
}
</style>
<script type="text/javascript">
  $(document).ready(function(){
    $('#monitorIbis').DataTable();
    $(window).resize(function(){
      $('.ibis_content_margin').css('height', (window.innerHeight-50)+'px');
    });
    $('.ibis_content_margin').css('height', (window.innerHeight-50)+'px');
  });
  setInterval(function() {
    window.location.reload();
  }, 30000);
</script>
{% endblock %}
