<script src="/vali/js/project.js"></script>
<div id="projectsList" class="hideBox col-md-6">
	<h5>My Projects</h5>
	<br/>
	<table class="table">
        {% if projects is empty %}
          <tr>
          	<td colspan="4" class="center"> No projects yet.</td>
          </tr>
      	{% else %}
        <thead>
          <tr>
            <th>#</th>
            <th>Project Name</th>
            <th>Status</th>
            <th>Map</th>
            <th>Maxent output</th>
            </tr>
        </thead>
        <tbody>
          {% for key,project in projects %}
			<tr>	
			    <td>{{key+1}}</td>
                <td>{{project.project_name}}</td>
                <td>
                <div class="status">{{project.status}}</div>
                {% if (project.status == "In queue") or (project.status == "Running") %}
                  <div class="progress">
                    <div class="bg-success progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    0%
                    </div>
                  </div>
                {% endif %}
                </td>
                <td>
                  {% if (project.status == "Completed") %}
                  <a class="link load_map" data-attr="{{project.layer_name}}" data-project="{{project.project_name}}">
                		<i class="fa fa-eye fa-md"></i>
                	</a>
                  {% elseif (project.status == "Error") %}
                  <a class="link rerun" data-project="{{project.project_name}}">
                    <i class="fa fa-refresh fa-md"></i>
                  </a>
                  {% endif %}
                  {% if (project.status != "Running") %}
                  <a class="link delete_map" data-attr="{{project.layer_name}}" data-project="{{project.project_name}}">
                    <i class="fa fa-trash fa-md"></i>
                  </a>
                  {% endif %}
                </td>
                
                <td>
                  {% if (project.status == "Completed") %}
                	<a target="_blank" href="/sdm/{{userId}}/{{project.project_name}}/result/outputs/index.html">
                		View Maxent Output
                	</a>
                  {% elseif (project.status == "Error") %}
                  <a class="showError" data-attr="{{project.project_name}}" class="text-danger" href="#">
                    Show Error
                  </a>
                  {% else %}
                      --
                  {% endif %}
                </td>
            </tr>	  
		  {% endfor %}
		  {% endif %}
        </tbody>
      </table>
</div>