<div class="modal fade" id="sdmFormModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Add new project (beginner)</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" enctype="multipart/form-data" action="/Sdm/runSdm" method="post">
            <div class="form-group row">
              <label class="control-label col-md-3">Project Name</label>
              <input name="batch_name" id="batch_name" class="form-control col-md-8" type="text">
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">File</label>
              <input name="taxaFile" id='file' class="form-control col-md-8" type="file">
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Model</label>
                <select name="model" id='model' class="form-control col-md-8">
                  <option value="1" selected="selected">Maxent</option>
                </select>
            </div>
            <div class="form-group">
              <a href="#" id="expert">Advanced</a>
              <input id='levelVal' type="hidden" name="advanced" value="false"/>
            </div>
            <div class="form-group hide row">
              <label class="control-label col-md-3">Environment variables</label>
              <div class="form-control col-md-8">
                <div class="layersTabs">
                  <div class="bs-component">
                    <ul class="nav nav-tabs">
                      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#bioClimContainer">Bio Clim</a></li>
                      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#others">Others</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade active show" id="bioClimContainer">
                          <select id="bioclim" multiple="" name="bioclim[]">
                              <option value="1">Annual Mean Temperature (BIO1)</option>
                              <option value="2">Mean Diurnal Range (BIO2)</option>
                              <option value="3">Isothermality (BIO3)</option>
                              <option value="4">Temperature Seasonality (BIO4)</option>
                              <option value="5">Max Temperature of Warmest Month (BIO5)</option>
                              <option value="6">Min Temperature of Coldest Month (BIO6)</option>
                              <option value="7">Temperature Annual Range (BIO7)</option>
                              <option value="8">Mean Temperature of Wettest Quarter (BIO8)</option>
                              <option value="9">Mean Temperature of Driest Quarter (BIO9)</option>
                              <option value="10">Mean Temperature of Warmest Quarter (BIO10)</option>
                              <option value="11">Mean Temperature of Coldest Quarter (BIO11)</option>
                              <option value="12">Annual Precipitation (BIO12)</option>
                              <option value="13">Precipitation of Wettest Month (BIO13)</option>
                              <option value="14">Precipitation of Driest Month (BIO14)</option>
                              <option value="15">Precipitation Seasonality (BIO15)</option>
                              <option value="16">Precipitation of Wettest Quarter (BIO16)</option>
                              <option value="17">Precipitation of Driest Quarter (BIO17)</option>
                              <option value="18">Precipitation of Warmest Quarter (BIO18)</option>
                              <option value="19">Precipitation of Coldest Quarter (BIO19)</option>
                          </select>
                          <sub style="float: none;display: block;margin: 5px;text-align: right;">press cntrl+click to select multiple variables</sub>
                      </div>
                      <div class="tab-pane fade" id="others">
                          <span id='addMore' class="badge badge-success"><i class="fa fa-plus"></i></span>
                          <span id='removeLast' class="badge badge-danger"><i class="fa fa-minus"></i></span>
                          <br/>
                          <input name="supporting[]" type="file">
                          <i class="hide">
                            SDM uses following coordinates for clipping the input rasters. Any images less then this will generate error.
                            <br/>Upper Left  (  65.0000000,  40.0000000)<br/>Lower Left  (  65.0000000,   5.0000001)<br/>Upper Right (  99.9999999,  40.0000000)<br/>Lower Right (  99.9999999,   5.0000001)
                          </i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group right">
              <input id="submitBtn" type="submit" value="Submit" name='submit' class="btn btn-success" >
            </div>
          </form>
      </div>
    </div>
  </div>
</div>