{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
	<link rel="stylesheet" href="/vali/css/jquery-ui.css">
	<div id="map" class="mapContainer col-md-12">
		{% include "header.html" %}
		{% include "supportingLayers.html"%}
		{% include "projectList.html"%}
        {% include "sdmForm.html"%}
        {% include "clipExport.html"%}
        {% include "userClips.html"%}
        <div id="settings" class="hideBox">
			<i class="fa fa-gears fa-lg"></i>
        </div>
        <div id="layerSetting" class="hideBox hide ui-widget-content">
        	<div id="accordion">
        		
			</div>
        </div>
		<div class="bottomOverlay col-md-12">
			<div id="latlonInfo"></div>
			<div id="legendContent">
			</div>
		</div>	
	</div>
	<div id="progress"></div>
	<div class="selectionOverlay menus">
		<div id="layers" title="Supporting layers from Data Platform">
			<a class="dropdown-item" href="#">
	          <i class="fa fa-globe fa-lg"></i>
	        </a>
		</div>
		<div id="projects" title="My projects">
			<a class="dropdown-item" href="#">
	          <i class="fa fa-folder-open fa-lg"></i>
	        </a>
		</div>
		<div id="runNewSdm" title="Run new SDM">
			<a class="dropdown-item" href="#">
	          <i class="fa fa-folder fa-lg"></i>
	        </a>
		</div>
		<div id="printMap" title="Clip SDM map">
			<a class="dropdown-item" href="#">
				<i class="fa fa-scissors fa-lg"></i>
			</a>
		</div>
		<div id="snapList" title="Clipped polygons">
			<a class="dropdown-item" href="#">
				<i class="fa fa-list fa-lg"></i>
			</a>
		</div>
		<div title="Take snap shot of page">
			<a class="dropdown-item" href="#" onclick="snapShot();">
				<i class="fa fa-camera fa-lg"></i>
			</a>
		</div>
		<div id="export" title="Export pdf">
			<a class="dropdown-item" href="#">
				<i class="fa fa-download fa-lg"></i>
			</a>
		</div>
	</div>
	<div class="hide">
		<form action="#" id="printPdfMap">
			<input type="hidden" name="mapTitle" value="Species Distributin Model">
			<input type="hidden" name="outputFilename" value="sdmMap">
			<input type="hidden" name="dpi" value="300">
			<input type="hidden" name="legendName" value="SDM">
			<input type="hidden" name="comments" value="">
			<select  type="hidden" name="scale" id="scaleAttr">
				<option value="25000">25000</option>
				<option value="50000">50000</option>
				<option value="100000">100000</option>
				<option value="200000">200000</option>
				<option value="500000">500000</option>
				<option value="1000000">1000000</option>
				<option value="2000000">2000000</option>
				<option value="4000000">4000000</option>
				<option value="5000000">5000000</option>
				<option value="6000000">6000000</option>
				<option value="7000000">7000000</option>
				<option value="8000000">8000000</option>
				<option value="9000000" selected="selected">9000000</option>
			</select>
		</form>
	</div>
	<script src="http://maps.google.com/maps/api/js?v=3&key=AIzaSyB0_rV2K9l3QoLwIJiX448CsXw9W7-vZpU"></script>
	<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
    <script type="text/javascript" src="/global/js/ol3.js"></script>
    <script type="text/javascript" src="/global/js/olgm.js"></script>
    <script type="text/javascript" src="/vali/js/progessbar.js"></script>
    <script type="text/javascript" src="/vali/js/map.js"></script>
    
{% endblock %}