{% if user is defined %}
	<!--div class="app-sidebar__overlay" data-toggle="sidebar"></div-->
	<aside class="app-sidebar">
	  <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
		<div>
		  <p class="app-sidebar__user-name">{{ user['name'] }}</p>
		  <p class="app-sidebar__user-designation">Developer</p>
		</div>
	  </div>
	  <ul class="app-menu">
		<li><a class="app-menu__item" href="index.html"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
		<li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-upload"></i><span class="app-menu__label">Data Upload</span><i class="treeview-indicator fa fa-angle-right"></i></a>
		  <ul class="treeview-menu">
			<li><a class="treeview-item" href="#"><i class="icon fa fa-dot-circle-o fa-xxs"></i>Forest Admin Boundaries</a></li>
			<li><a class="treeview-item" href="#" target="_blank"><i class="icon fa fa-dot-circle-o fa-xxs"></i>Species Data</a></li>
			<li><a class="treeview-item" href="#"><i class="icon fa fa-dot-circle-o fa-xxs"></i>Census Admin Boundaries</a></li>
			<li><a class="treeview-item" href="#"><i class="icon fa fa-dot-circle-o fa-xxs"></i>Xyz</a></li>
		  </ul>
		</li>
	  </ul>
	</aside>
{% endif %}