<div id="supportingLayers" class="hideBox col-md-6">
	<h5>Layers list</h5>
	<br/>
	<div id="categoriesLayer">
		<div class='card'>
		  <div class='card-header' data-toggle='collapse' data-target='#category_collapse' aria-expanded='true' aria-controls='category_collapse'>
		        <h5>Categories <i style="margin:7px;" class="fa fa-minus fa-md float-md-right"></i></h5>
		  </div>
		  <div id='category_collapse' class='collapse show' aria-labelledby='var_name' data-parent='#accordion'>
		    <div class='card-body'>
		    <div class="row">
		    	{% for layerList in categories %}	
	    		<div class="col-4 category" data-attr="{{layerList.c_id}}">{{layerList.c_name}}</div>
	    		{% endfor %}
	    		<!-- <select class="form-control category"> -->
	    		<!-- <option data-attr="{{layerList.c_id}}">{{layerList.c_name}}</option> -->
	    		<!-- </select> -->
	    		<div class="col-12 subCategroy">
    				<div class="col-4 subList float-md-left">
    				</div>
    				<div class="col-8 layerList float-md-right">		 
    				</div>
	    		</div>
		    </div>
		    </div>
		  </div>
		</div>
	</div>
</div>