<div id="userClipsList" class="hideBox col-md-6">
	<h5>Clipped polygons</h5>
	<br/>
	<table class="table">
        {% if userClips is empty %}
          <tr>
          	<td colspan="4" class="center"> No clips yet.</td>
          </tr>
      	{% else %}
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Referer Project</th>
            <th>Download</th>
            </tr>
        </thead>
        <tbody>
          {% for key,project in userClips %}
			<tr>	
			    <td>{{key+1}}</td>
                <td>{{project.job_name}}</td>
                <td>{{project.project_name}}</td>
                <td><a href="{{project.path}}" disabled=true>Download</a></td>
            </tr>	  
		  {% endfor %}
		  {% endif %}
        </tbody>
      </table>
</div>